HHTravel.CRM.Booking-Online.Business/Service References/HHTravel.CRM.Booking_Online.Business.ServiceImp2/productService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/service/productService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8001/service/productService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DepartureDateList" nillable="true" type="q1:ArrayOfdateTime" />
          <xs:element minOccurs="0" name="DeparturePlace" nillable="true" type="tns:DeparturePlace" />
          <xs:element minOccurs="0" name="DestinationGroup" nillable="true" type="tns:DestinationGroup" />
          <xs:element minOccurs="0" name="DestinationRegion" nillable="true" type="tns:DestinationRegion" />
          <xs:element minOccurs="0" name="GoFilghtList" nillable="true" type="tns:ArrayOfFilghtInfo" />
          <xs:element minOccurs="0" name="HotelList" nillable="true" type="tns:ArrayOfHotelInfo" />
          <xs:element minOccurs="0" name="InterestList" nillable="true" type="tns:ArrayOfInterest" />
          <xs:element minOccurs="0" name="MainImage" nillable="true" type="tns:ImageInfo" />
          <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhotoList" nillable="true" type="tns:ArrayOfImageInfo" />
          <xs:element minOccurs="0" name="ProductId" type="xs:int" />
          <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReturnFilghtList" nillable="true" type="tns:ArrayOfFilghtInfo" />
          <xs:element minOccurs="0" name="RoomInfo" nillable="true" type="tns:RoomInfo" />
          <xs:element minOccurs="0" name="ScheduleItemList" nillable="true" type="tns:ArrayOfScheduleItem" />
          <xs:element minOccurs="0" name="TopImage" nillable="true" type="tns:ImageInfo" />
          <xs:element minOccurs="0" name="TravelType" nillable="true" type="tns:TravelType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="DeparturePlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeparturePlaceId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeparturePlace" nillable="true" type="tns:DeparturePlace" />
  <xs:complexType name="DestinationGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegionList" nillable="true" type="tns:ArrayOfDestinationRegion" />
          <xs:element minOccurs="0" name="TopImage" nillable="true" type="tns:ImageInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DestinationGroup" nillable="true" type="tns:DestinationGroup" />
  <xs:complexType name="ArrayOfDestinationRegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DestinationRegion" nillable="true" type="tns:DestinationRegion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDestinationRegion" nillable="true" type="tns:ArrayOfDestinationRegion" />
  <xs:complexType name="DestinationRegion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionId" type="xs:int" />
      <xs:element minOccurs="0" name="TopImage" nillable="true" type="tns:ImageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DestinationRegion" nillable="true" type="tns:DestinationRegion" />
  <xs:complexType name="ImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageInfo" nillable="true" type="tns:ImageInfo" />
  <xs:complexType name="ArrayOfFilghtInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilghtInfo" nillable="true" type="tns:FilghtInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilghtInfo" nillable="true" type="tns:ArrayOfFilghtInfo" />
  <xs:complexType name="FilghtInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalAirport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureAirport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilghtInfo" nillable="true" type="tns:FilghtInfo" />
  <xs:complexType name="ArrayOfHotelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelInfo" nillable="true" type="tns:HotelInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelInfo" nillable="true" type="tns:ArrayOfHotelInfo" />
  <xs:complexType name="HotelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoList" nillable="true" type="tns:ArrayOfImageInfo" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelInfo" nillable="true" type="tns:HotelInfo" />
  <xs:complexType name="ArrayOfImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageInfo" nillable="true" type="tns:ImageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageInfo" nillable="true" type="tns:ArrayOfImageInfo" />
  <xs:complexType name="ArrayOfInterest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Interest" nillable="true" type="tns:Interest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterest" nillable="true" type="tns:ArrayOfInterest" />
  <xs:complexType name="Interest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="InterestId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TopImage" nillable="true" type="tns:ImageInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Interest" nillable="true" type="tns:Interest" />
  <xs:complexType name="RoomInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckInDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CheckOutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoubleRoomOneBedsPrice" type="xs:int" />
      <xs:element minOccurs="0" name="DoubleRoomOneBedsRenewPrice" type="xs:int" />
      <xs:element minOccurs="0" name="DoubleRoomOneBedsTips" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoubleRoomPrice" type="xs:int" />
      <xs:element minOccurs="0" name="DoubleRoomTwoBedsPrice" type="xs:int" />
      <xs:element minOccurs="0" name="DoubleRoomTwoBedsRenewPrice" type="xs:int" />
      <xs:element minOccurs="0" name="DoubleRoomTwoBedsTips" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingleRoomLargerBedPrice" type="xs:int" />
      <xs:element minOccurs="0" name="SingleRoomLargerBedRenewPrice" type="xs:int" />
      <xs:element minOccurs="0" name="SingleRoomOneBedsPrice" type="xs:int" />
      <xs:element minOccurs="0" name="SingleRoomOneBedsRenewPrice" type="xs:int" />
      <xs:element minOccurs="0" name="SingleRoomOneBedsTips" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingleRoomPrice" type="xs:int" />
      <xs:element minOccurs="0" name="SingleRoomStandardBedTips" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomInfo" nillable="true" type="tns:RoomInfo" />
  <xs:complexType name="ArrayOfScheduleItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleItem" nillable="true" type="tns:ScheduleItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleItem" nillable="true" type="tns:ArrayOfScheduleItem" />
  <xs:complexType name="ScheduleItem">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DetailsList" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="ScheduleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleItem" nillable="true" type="tns:ScheduleItem" />
  <xs:complexType name="TravelType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TravelType" nillable="true" type="tns:TravelType" />
  <xs:complexType name="ArrayOfDepartureMonth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartureMonth" nillable="true" type="tns:DepartureMonth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartureMonth" nillable="true" type="tns:ArrayOfDepartureMonth" />
  <xs:complexType name="DepartureMonth">
    <xs:sequence>
      <xs:element minOccurs="0" name="Month" type="xs:int" />
      <xs:element minOccurs="0" name="MonthId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartureMonth" nillable="true" type="tns:DepartureMonth" />
  <xs:complexType name="ArrayOfDeparturePlace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeparturePlace" nillable="true" type="tns:DeparturePlace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeparturePlace" nillable="true" type="tns:ArrayOfDeparturePlace" />
  <xs:complexType name="ArrayOfDestinationGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DestinationGroup" nillable="true" type="tns:DestinationGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDestinationGroup" nillable="true" type="tns:ArrayOfDestinationGroup" />
  <xs:complexType name="ArrayOfTravelType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TravelType" nillable="true" type="tns:TravelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTravelType" nillable="true" type="tns:ArrayOfTravelType" />
</xs:schema>