HHTravel.CRM.Booking-Online.Business/Service References/HHTravel.CRM.Booking_Online.Business.ServiceImp2/productService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/service/productService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" />
  <xs:element name="FindByDepartureDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByDepartureDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" minOccurs="0" name="FindByDepartureDateResult" nillable="true" type="q1:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByDestination">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="regionId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByDestinationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" minOccurs="0" name="FindByDestinationResult" nillable="true" type="q2:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByTravelType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="travelTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByTravelTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" minOccurs="0" name="FindByTravelTypeResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartureMonths">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartureMonthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" minOccurs="0" name="GetAllDepartureMonthsResult" nillable="true" type="q4:ArrayOfDepartureMonth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDeparturePlaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDeparturePlacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" minOccurs="0" name="GetAllDeparturePlacesResult" nillable="true" type="q5:ArrayOfDeparturePlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDestinationGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDestinationGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" minOccurs="0" name="GetAllDestinationGroupsResult" nillable="true" type="q6:ArrayOfDestinationGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInterests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInterestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" minOccurs="0" name="GetAllInterestsResult" nillable="true" type="q7:ArrayOfInterest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q8:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTravelTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTravelTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" minOccurs="0" name="GetAllTravelTypesResult" nillable="true" type="q9:ArrayOfTravelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departurePlaceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="destinationGroupId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="destinationRegionId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="travelTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="interestid" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HHTravel.CRM.Booking_Online.Model" minOccurs="0" name="SearchResult" nillable="true" type="q10:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>